<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>menu</h2>
    <p>{{ picked }}메뉴는 {{ picked|length }}글자 입니다.</p>
    {% comment %} filter을 사용한 단어수 세기 {% endcomment %}
    <ul>
        {% for food in foods %}
        {% comment %} for 사용 {% endcomment %}
            <li>{{food}}</li>
        {% endfor %}
    </ul>

    {% if foods|length == 0 %}
    {% comment %} 조건문 사용 {% endcomment %}
        <p>메뉴 소진</p>
    {% else %}
        <p>메뉴 남음</p>
    {% endif %}
</body>
</html>